if status is-interactive
  fish_add_path /opt/homebrew/bin
  fish_add_path /opt/homebrew/opt/libpq/bin
  fish_add_path /Users/raian/go/bin

  fish_vi_key_bindings

  set -U orange FF9400
  set -U dark_yellow BF9C30

  set -e fish_greeting

  function fish_prompt
    set -f pending_gittown_command (git-town status --pending)
    if [ -n "$pending_gittown_command" ]
      set -f yellow_pending_gittown_command (set_color -b yellow)(set_color black)(echo " $pending_gittown_command ")(set_color normal)' '
    else
      set -f yellow_pending_gittown_command ''
    end

    set_color FF9400
      echo -n (prompt_pwd --dir-length 0)
    set_color normal

    set -l git_info (fish_git_prompt)
    if test -n "$git_info"
      set_color BF9C30
        echo -n "$git_info"
      set_color normal
    end

    if test -d .git -o -f .git
      echo -n " "
    end

    if test -n "$git_info"
      echo -n "$yellow_pending_gittown_command> "
    else
      echo -n "$yellow_pending_gittown_command > "
    end
  end
end
